@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Hanken Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 192, 176);
}

p {
    /* font-weight: 600; */
}

i {
    padding: 0 10px;
}

.container {
    width: 375px;
    background-color: white;
    /* margin: auto; */
}

.result {
    /* Put this BG color in gradient */
    background: linear-gradient(to bottom, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.result-title p {
    color: hsl(221, 100%, 96%);
    padding: 1rem 0;
}

.result-circle {
    width: 120px;
    height: 120px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    border-radius: 50%;
    text-align: center;
    padding-top: 1rem;
}

.result-circle-top {
    color: hsl(221, 100%, 96%);
    font-size: 3rem;
    font-weight: 700;
}

.result-circle-bottom {
    color: hsl(0, 0%, 60%);
    font-weight: 600;
}

.result-grade {
    text-align: center;
}

.result-grade-top {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0;
    color: hsl(0, 100%, 95%);
}

.result-grade-bottom {
    padding: 0 3rem 2rem 3rem;
    font-size: 1rem;
    color: hsl(221, 100%, 96%);
}

.summary {
    padding: 1rem;
    background-color: white;
    font-weight: 600;
}

.summary-title p {
    font-size: 1.1rem;
    font-weight: 700;
}

.summary-mark {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 7px;
}

.Reaction {
    background: linear-gradient(to right, hsl(0, 100%, 95%) 0%, hsl(0, 100%, 98%) 100%);
}

.Reaction-left {
    color: hsl(0, 100%, 67%);
}

.Memory {
    background: linear-gradient(to right, hsl(39, 100%, 95%) 0%, hsl(39, 100%, 98%) 100%);
}

.Memory-left {
    color: hsl(39, 100%, 56%);
}

.Verbal {
    background: linear-gradient(to right, hsl(166, 100%, 95%) 0%, hsl(166, 100%, 98%) 100%);
}

.Verbal-left {
    color: hsl(166, 100%, 37%);
}

.Visual {
    background: linear-gradient(to right, hsl(234, 85%, 95%) 0%, hsl(234, 85%, 98%) 100%);
}

.Visual-left {
    color: hsl(234, 85%, 45%);
}

.summary-mark-right-100 {
    color: hsl(0, 0%, 60%);
}

.continue-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    background-color: hsl(232, 29%, 20%);
    color: white;
    border: none;
    margin-bottom: .7rem;
}