* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    background-color: rgba(30, 143, 255, 0.233);
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.808);
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.header-title {
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header-title h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.header-title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-title p {
    font-size: .9rem;
    width: 600px;
    margin-bottom: 20px;
}

.card {
    width: 350px;
    /* background-color: yellowgreen; */
    padding: 2rem;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: .9rem;
}

.card-1,
.card-height-manage-left,
.card-height-manage-right,
.card-4 {
    background-color: antiquewhite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
}

.card-height-manage-left {
    padding: 20px;
    border-top: 3px solid rgb(0, 174, 255);
}

.card-height-manage-right {
    padding: 20px;
    border-top: 3px solid rgb(76, 0, 255);
}

.card-1 {
    grid-area: card-1;
    border-top: 3px solid red;
}

.card-2 {
    grid-area: card-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
}

.card-3 {
    grid-area: card-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
}

.card-4 {
    grid-area: card-4;
    border-top: 3px solid rgb(0, 255, 106);
}

.cards {
    display: grid;
    grid-template-areas: 'card-2 card-1 card-3'
        'card-2 card-4 card-3';
    gap: 50px;
    padding: 20px;
    /* width: 100vw; */
}