@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: wheat;
    padding: 2rem;
}


.rating {
    width: 375px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: none;
}

.star {
    background-color: hsl(213, 19%, 18%);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.question {
    color: white;
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.55rem;
}

.lorem {
    margin-top: .5rem;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.out-of-5 ul {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.out-of-5 ul li {
    list-style-type: none;
    background-color: hsl(213, 19%, 18%);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .1s;
    color: hsl(217, 12%, 63%);
}

.out-of-5 ul li:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.submit {
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
    outline: none;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all .1s;
}

.submit:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.thanks {
    /* display: none; */
    width: 375px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.rating-line {
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    margin: 1rem auto;
    padding: 10px 20px;
    border-radius: 50px;
}

.thank-you {
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.thanks-lorem {
    text-align: center;
    font-size: .9rem;
}